/*


No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package events_service

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// EventsServiceAPIService EventsServiceAPI service
type EventsServiceAPIService service

type ApiEventsServiceBatchGetEventRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	ids *[]string
	orderBys *[]EventsServiceListEventsOrderBysParameterInner
	pagination *EventsServiceListEventsPaginationParameter
	filter *EventsServiceBatchGetEventFilterParameter
}

func (r ApiEventsServiceBatchGetEventRequest) Ids(ids []string) ApiEventsServiceBatchGetEventRequest {
	r.ids = &ids
	return r
}

func (r ApiEventsServiceBatchGetEventRequest) OrderBys(orderBys []EventsServiceListEventsOrderBysParameterInner) ApiEventsServiceBatchGetEventRequest {
	r.orderBys = &orderBys
	return r
}

func (r ApiEventsServiceBatchGetEventRequest) Pagination(pagination EventsServiceListEventsPaginationParameter) ApiEventsServiceBatchGetEventRequest {
	r.pagination = &pagination
	return r
}

func (r ApiEventsServiceBatchGetEventRequest) Filter(filter EventsServiceBatchGetEventFilterParameter) ApiEventsServiceBatchGetEventRequest {
	r.filter = &filter
	return r
}

func (r ApiEventsServiceBatchGetEventRequest) Execute() (*BatchGetEventResponse, *http.Response, error) {
	return r.ApiService.EventsServiceBatchGetEventExecute(r)
}

/*
EventsServiceBatchGetEvent Batch Get Event

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceBatchGetEventRequest
*/
func (a *EventsServiceAPIService) EventsServiceBatchGetEvent(ctx context.Context) ApiEventsServiceBatchGetEventRequest {
	return ApiEventsServiceBatchGetEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchGetEventResponse
func (a *EventsServiceAPIService) EventsServiceBatchGetEventExecute(r ApiEventsServiceBatchGetEventRequest) (*BatchGetEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchGetEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceBatchGetEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.orderBys != nil {
		t := *r.orderBys
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", t, "form", "multi")
		}
	}
	if r.pagination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination", r.pagination, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceGetEventRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	id string
	orderBys *[]EventsServiceListEventsOrderBysParameterInner
	pagination *EventsServiceListEventsPaginationParameter
}

func (r ApiEventsServiceGetEventRequest) OrderBys(orderBys []EventsServiceListEventsOrderBysParameterInner) ApiEventsServiceGetEventRequest {
	r.orderBys = &orderBys
	return r
}

func (r ApiEventsServiceGetEventRequest) Pagination(pagination EventsServiceListEventsPaginationParameter) ApiEventsServiceGetEventRequest {
	r.pagination = &pagination
	return r
}

func (r ApiEventsServiceGetEventRequest) Execute() (*V3GetEventResponse, *http.Response, error) {
	return r.ApiService.EventsServiceGetEventExecute(r)
}

/*
EventsServiceGetEvent Get Event

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEventsServiceGetEventRequest
*/
func (a *EventsServiceAPIService) EventsServiceGetEvent(ctx context.Context, id string) ApiEventsServiceGetEventRequest {
	return ApiEventsServiceGetEventRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return V3GetEventResponse
func (a *EventsServiceAPIService) EventsServiceGetEventExecute(r ApiEventsServiceGetEventRequest) (*V3GetEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V3GetEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceGetEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.orderBys != nil {
		t := *r.orderBys
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", t, "form", "multi")
		}
	}
	if r.pagination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination", r.pagination, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceGetEventsStatisticsRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	filter *EventsFilter
}

func (r ApiEventsServiceGetEventsStatisticsRequest) Filter(filter EventsFilter) ApiEventsServiceGetEventsStatisticsRequest {
	r.filter = &filter
	return r
}

func (r ApiEventsServiceGetEventsStatisticsRequest) Execute() (*GetEventsStatisticsResponse, *http.Response, error) {
	return r.ApiService.EventsServiceGetEventsStatisticsExecute(r)
}

/*
EventsServiceGetEventsStatistics Get Events Statistics

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceGetEventsStatisticsRequest
*/
func (a *EventsServiceAPIService) EventsServiceGetEventsStatistics(ctx context.Context) ApiEventsServiceGetEventsStatisticsRequest {
	return ApiEventsServiceGetEventsStatisticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetEventsStatisticsResponse
func (a *EventsServiceAPIService) EventsServiceGetEventsStatisticsExecute(r ApiEventsServiceGetEventsStatisticsRequest) (*GetEventsStatisticsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetEventsStatisticsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceGetEventsStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceListAlertEventsRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	alertIds *[]string
	timestampRange *TimestampRange
	cxEventLabels *map[string]string
	orderBys *[]EventsServiceListEventsOrderBysParameterInner
	pagination *EventsServiceListEventsPaginationParameter
}

func (r ApiEventsServiceListAlertEventsRequest) AlertIds(alertIds []string) ApiEventsServiceListAlertEventsRequest {
	r.alertIds = &alertIds
	return r
}

func (r ApiEventsServiceListAlertEventsRequest) TimestampRange(timestampRange TimestampRange) ApiEventsServiceListAlertEventsRequest {
	r.timestampRange = &timestampRange
	return r
}

func (r ApiEventsServiceListAlertEventsRequest) CxEventLabels(cxEventLabels map[string]string) ApiEventsServiceListAlertEventsRequest {
	r.cxEventLabels = &cxEventLabels
	return r
}

func (r ApiEventsServiceListAlertEventsRequest) OrderBys(orderBys []EventsServiceListEventsOrderBysParameterInner) ApiEventsServiceListAlertEventsRequest {
	r.orderBys = &orderBys
	return r
}

func (r ApiEventsServiceListAlertEventsRequest) Pagination(pagination EventsServiceListEventsPaginationParameter) ApiEventsServiceListAlertEventsRequest {
	r.pagination = &pagination
	return r
}

func (r ApiEventsServiceListAlertEventsRequest) Execute() (*ListAlertEventsResponse, *http.Response, error) {
	return r.ApiService.EventsServiceListAlertEventsExecute(r)
}

/*
EventsServiceListAlertEvents List Alert Events

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceListAlertEventsRequest
*/
func (a *EventsServiceAPIService) EventsServiceListAlertEvents(ctx context.Context) ApiEventsServiceListAlertEventsRequest {
	return ApiEventsServiceListAlertEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListAlertEventsResponse
func (a *EventsServiceAPIService) EventsServiceListAlertEventsExecute(r ApiEventsServiceListAlertEventsRequest) (*ListAlertEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAlertEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceListAlertEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3/alert-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.alertIds != nil {
		t := *r.alertIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "alert_ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "alert_ids", t, "form", "multi")
		}
	}
	if r.timestampRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp_range", r.timestampRange, "form", "")
	}
	if r.cxEventLabels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cx_event_labels", r.cxEventLabels, "form", "")
	}
	if r.orderBys != nil {
		t := *r.orderBys
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", t, "form", "multi")
		}
	}
	if r.pagination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination", r.pagination, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceListEventsRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	filter *EventsFilter
	orderBys *[]EventsServiceListEventsOrderBysParameterInner
	pagination *EventsServiceListEventsPaginationParameter
}

func (r ApiEventsServiceListEventsRequest) Filter(filter EventsFilter) ApiEventsServiceListEventsRequest {
	r.filter = &filter
	return r
}

func (r ApiEventsServiceListEventsRequest) OrderBys(orderBys []EventsServiceListEventsOrderBysParameterInner) ApiEventsServiceListEventsRequest {
	r.orderBys = &orderBys
	return r
}

func (r ApiEventsServiceListEventsRequest) Pagination(pagination EventsServiceListEventsPaginationParameter) ApiEventsServiceListEventsRequest {
	r.pagination = &pagination
	return r
}

func (r ApiEventsServiceListEventsRequest) Execute() (*V3ListEventsResponse, *http.Response, error) {
	return r.ApiService.EventsServiceListEventsExecute(r)
}

/*
EventsServiceListEvents List Events

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceListEventsRequest
*/
func (a *EventsServiceAPIService) EventsServiceListEvents(ctx context.Context) ApiEventsServiceListEventsRequest {
	return ApiEventsServiceListEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V3ListEventsResponse
func (a *EventsServiceAPIService) EventsServiceListEventsExecute(r ApiEventsServiceListEventsRequest) (*V3ListEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V3ListEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceListEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.orderBys != nil {
		t := *r.orderBys
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_bys", t, "form", "multi")
		}
	}
	if r.pagination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination", r.pagination, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceListEventsCountRequest struct {
	ctx context.Context
	ApiService *EventsServiceAPIService
	filter *EventsFilter
}

func (r ApiEventsServiceListEventsCountRequest) Filter(filter EventsFilter) ApiEventsServiceListEventsCountRequest {
	r.filter = &filter
	return r
}

func (r ApiEventsServiceListEventsCountRequest) Execute() (*ListEventsCountResponse, *http.Response, error) {
	return r.ApiService.EventsServiceListEventsCountExecute(r)
}

/*
EventsServiceListEventsCount List Events Count

No description available

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceListEventsCountRequest
*/
func (a *EventsServiceAPIService) EventsServiceListEventsCount(ctx context.Context) ApiEventsServiceListEventsCountRequest {
	return ApiEventsServiceListEventsCountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListEventsCountResponse
func (a *EventsServiceAPIService) EventsServiceListEventsCountExecute(r ApiEventsServiceListEventsCountRequest) (*ListEventsCountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListEventsCountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsServiceAPIService.EventsServiceListEventsCount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alerts/events/v3/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
