/*


No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cases_notification_service

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CasesNotificationServiceAPIService CasesNotificationServiceAPI service
type CasesNotificationServiceAPIService service

type ApiCasesNotificationServiceListNotificationDeliveriesRequest struct {
	ctx context.Context
	ApiService *CasesNotificationServiceAPIService
	listNotificationDeliveriesRequest *ListNotificationDeliveriesRequest
}

func (r ApiCasesNotificationServiceListNotificationDeliveriesRequest) ListNotificationDeliveriesRequest(listNotificationDeliveriesRequest ListNotificationDeliveriesRequest) ApiCasesNotificationServiceListNotificationDeliveriesRequest {
	r.listNotificationDeliveriesRequest = &listNotificationDeliveriesRequest
	return r
}

func (r ApiCasesNotificationServiceListNotificationDeliveriesRequest) Execute() (*ListNotificationDeliveriesResponse, *http.Response, error) {
	return r.ApiService.CasesNotificationServiceListNotificationDeliveriesExecute(r)
}

/*
CasesNotificationServiceListNotificationDeliveries List notification deliveries for cases

Retrieve notification delivery records for one or more cases, including routing, target, and outcome information.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCasesNotificationServiceListNotificationDeliveriesRequest
*/
func (a *CasesNotificationServiceAPIService) CasesNotificationServiceListNotificationDeliveries(ctx context.Context) ApiCasesNotificationServiceListNotificationDeliveriesRequest {
	return ApiCasesNotificationServiceListNotificationDeliveriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListNotificationDeliveriesResponse
func (a *CasesNotificationServiceAPIService) CasesNotificationServiceListNotificationDeliveriesExecute(r ApiCasesNotificationServiceListNotificationDeliveriesRequest) (*ListNotificationDeliveriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListNotificationDeliveriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CasesNotificationServiceAPIService.CasesNotificationServiceListNotificationDeliveries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cases/notifications/v1/deliveries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.listNotificationDeliveriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
