openapi: 3.0.0
info:
  title: ""
  version: 1.0.0
servers:
- url: https://api.coralogix.com/mgmt/openapi
- url: https://api.eu2.coralogix.com/mgmt/openapi
- url: https://api.coralogix.us/mgmt/openapi
- url: https://api.cx498.coralogix.com/mgmt/openapi
- url: https://api.coralogix.in/mgmt/openapi
- url: https://api.coralogixsg.com/mgmt/openapi
- url: https://api.ap3.coralogix.com/mgmt/openapi
security:
- apiKeyAuth: []
tags:
- description: Manage your alert scheduler rules.
  externalDocs:
    url: ""
  name: Alert Scheduler Rule service
- description: IpAccessService provides the API for managing company IP access settings.
  externalDocs:
    url: ""
  name: IP Access Service
- description: Manage your API Keys.
  externalDocs:
    url: ""
  name: API Keys Service
- description: Manage your SAML configuration
  externalDocs:
    url: ""
  name: SAML Configuration Service
- description: View and manage your alerts using alert definitions - data structures
    that contain the configuration required to create an alert.
  externalDocs:
    description: Learn more about alerts in our documentation
    url: https://coralogix.com/docs/user-guides/alerting/introduction-to-alerts/
  name: Alert definitions service
- description: Get information regarding your alert events - instances of alerts being
    triggered.
  externalDocs:
    description: Learn more about alert events and incidents in our documentation.
    url: https://coralogix.com/docs/user-guides/alerting/incidents/
  name: Alert events service
- description: Manage your dashboards.
  externalDocs:
    url: ""
  name: Dashboard service
- description: Manage your dashboard folders.
  externalDocs:
    url: ""
  name: Dashboard folders service
- description: A service for managing actions.
  externalDocs:
    url: ""
  name: Actions Service
- description: A service for managing Service Level Objectives (SLOs).
  externalDocs:
    url: ""
  name: Slos Service
- description: Manage your events2metrics.
  externalDocs:
    url: ""
  name: Events2Metrics Service
- description: Create and manage view folders.
  externalDocs:
    url: ""
  name: Folders for views service
- description: Create and manage views.
  externalDocs:
    url: ""
  name: Views service
- description: A service to manage scopes
  externalDocs:
    url: ""
  name: Scopes Service
- description: "Handle all operations related to incident management within Coralogix.\
    \ Identify, manage, and resolve incidents efficiently through automated workflows\
    \ and team collaboration."
  externalDocs:
    description: Find out more about incident management in our documentation
    url: https://coralogix.com/docs/user-guides/alerting/incidents/
  name: Incidents service
- description: A service to manage data usage metrics.
  externalDocs:
    url: ""
  name: Data Usage Service
- description: View and manage your storage targets for logs.
  externalDocs:
    description: Find out more about archives
    url: https://coralogix.com/docs/user-guides/data-flow/s3-archive/connect-s3-archive/
  name: Target Service
- description: Manage Team Groups.
  externalDocs:
    url: ""
  name: Team Permissions Management Service
- description: A service that enables querying for extension information.
  externalDocs:
    description: Learn more about extensions in our documentation.
    url: https://coralogix.com/docs/integrations/extensions/
  name: Extension service
- description: A service that enables querying for extension deployment information.
  externalDocs:
    description: Find out more about extensions in our documentation.
    url: https://coralogix.com/docs/integrations/extensions/
  name: Extension deployment service
- externalDocs:
    description: Find out more about extensions in our documentation.
    url: https://coralogix.com/docs/integrations/extensions/
  name: Extension testing service
- description: A service that enables querying for integration information.
  externalDocs:
    description: Find out more about integrations in our documentation.
    url: https://coralogix.com/docs/integrations/getting-started/
  name: Integration service
- description: Query for contextual data integration information.
  externalDocs:
    url: ""
  name: Contextual data integration service
- externalDocs:
    description: Find out more about outbound webhooks in our documentation.
    url: https://coralogix.com/docs/user-guides/alerting/outbound-webhooks/generic-outbound-webhooks-alert-webhooks/
  name: Outgoing webhooks service
- description: Manage your enrichments.
  externalDocs:
    url: ""
  name: Enrichments Service
- description: Manage your enrichments.
  externalDocs:
    url: ""
  name: Custom Enrichments Service
paths:
  /api/v1/rulegroup-mapping:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_GetRuleGroupModelMapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleGroupsService_GetRuleGroupModelMapping_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.GetRuleGroupModelMappingResponse"
          description: ""
      summary: GetRuleGroupModelMapping
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroup-mapping';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroup-mapping"

          payload = {
              "creator": "string",
              "description": "string",
              "enabled": True,
              "hidden": True,
              "name": "string",
              "order": 0,
              "ruleMatchers": [{"applicationName": {"value": "string"}}],
              "ruleSubgroups": [
                  {
                      "enabled": True,
                      "order": 0,
                      "rules": [
                          {
                              "description": "string",
                              "enabled": True,
                              "name": "string",
                              "order": 0,
                              "parameters": {"extractParameters": {"rule": "string"}},
                              "sourceField": "string"
                          }
                      ]
                  }
              ]
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroup-mapping \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}]}'
  /api/v1/rulegroups:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_BulkDeleteRuleGroup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.BulkDeleteRuleGroupResponse"
          description: ""
      summary: BulkDeleteRuleGroup
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_ListRuleGroups
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.ListRuleGroupsResponse"
          description: ""
      summary: ListRuleGroups
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups \
            --header 'Authorization: Bearer <API_KEY>'
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_CreateRuleGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleGroupsService_CreateRuleGroup_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.CreateRuleGroupResponse"
          description: ""
      summary: CreateRuleGroup
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}],"teamId":{"id":0}}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups"

          payload = {
              "creator": "string",
              "description": "string",
              "enabled": True,
              "hidden": True,
              "name": "string",
              "order": 0,
              "ruleMatchers": [{"applicationName": {"value": "string"}}],
              "ruleSubgroups": [
                  {
                      "enabled": True,
                      "order": 0,
                      "rules": [
                          {
                              "description": "string",
                              "enabled": True,
                              "name": "string",
                              "order": 0,
                              "parameters": {"extractParameters": {"rule": "string"}},
                              "sourceField": "string"
                          }
                      ]
                  }
              ],
              "teamId": {"id": 0}
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}],"teamId":{"id":0}}'
  /api/v1/rulegroups/company-limits:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_GetCompanyUsageLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.GetCompanyUsageLimitsResponse"
          description: ""
      summary: GetCompanyUsageLimits
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/company-limits';

          let options = {method: 'POST', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/company-limits"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("POST", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/company-limits \
            --header 'Authorization: Bearer <API_KEY>'
  /api/v1/rulegroups/{group_id}:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_DeleteRuleGroup
      parameters:
      - explode: false
        in: path
        name: group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.DeleteRuleGroupResponse"
          description: ""
      summary: DeleteRuleGroup
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_GetRuleGroup
      parameters:
      - explode: false
        in: path
        name: group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.GetRuleGroupResponse"
          description: ""
      summary: GetRuleGroup
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D \
            --header 'Authorization: Bearer <API_KEY>'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: RuleGroupsService_UpdateRuleGroup
      parameters:
      - explode: false
        in: path
        name: group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RuleGroupsService_CreateRuleGroup_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.rules.v1.UpdateRuleGroupResponse"
          description: ""
      summary: UpdateRuleGroup
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D';

          let options = {
            method: 'PUT',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}],"teamId":{"id":0}}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D"

          payload = {
              "creator": "string",
              "description": "string",
              "enabled": True,
              "hidden": True,
              "name": "string",
              "order": 0,
              "ruleMatchers": [{"applicationName": {"value": "string"}}],
              "ruleSubgroups": [
                  {
                      "enabled": True,
                      "order": 0,
                      "rules": [
                          {
                              "description": "string",
                              "enabled": True,
                              "name": "string",
                              "order": 0,
                              "parameters": {"extractParameters": {"rule": "string"}},
                              "sourceField": "string"
                          }
                      ]
                  }
              ],
              "teamId": {"id": 0}
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PUT", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PUT \
            --url https://api.coralogix.com/mgmt/openapi/api/v1/rulegroups/%7Bgroup_id%7D \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"creator":"string","description":"string","enabled":true,"hidden":true,"name":"string","order":0,"ruleMatchers":[{"applicationName":{"value":"string"}}],"ruleSubgroups":[{"enabled":true,"order":0,"rules":[{"description":"string","enabled":true,"name":"string","order":0,"parameters":{"extractParameters":{"rule":"string"}},"sourceField":"string"}]}],"teamId":{"id":0}}'
  /api/v2/events2metrics:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_ListE2M
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.ListE2MResponse"
          description: ""
      summary: List E2Ms
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics \
            --header 'Authorization: Bearer <API_KEY>'
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_CreateE2M
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Events2MetricService_CreateE2M_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.CreateE2MResponse"
          description: ""
      summary: Create a new E2M
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"description":"avg and max the latency of catalog service","metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service catalog latency","permutationsLimit":30000,"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED"}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics"

          payload = {
              "description": "avg and max the latency of catalog service",
              "metricFields": [
                  {
                      "aggregations": [
                          {
                              "aggType": "AGG_TYPE_UNSPECIFIED",
                              "enabled": True,
                              "samples": {"sampleType": "SAMPLE_TYPE_UNSPECIFIED"},
                              "targetMetricName": "alias_field_name_agg_func"
                          }
                      ],
                      "sourceField": "log_obj.numeric_field",
                      "targetBaseMetricName": "alias_field_name"
                  }
              ],
              "metricLabels": [
                  {
                      "sourceField": "log_obj.string_value",
                      "targetLabel": "alias_label_name"
                  }
              ],
              "name": "Service catalog latency",
              "permutationsLimit": 30000,
              "spansQuery": {
                  "actionFilters": ["myAction"],
                  "applicationnameFilters": ["myApp"],
                  "lucene": "applicationName:myApp",
                  "serviceFilters": ["myService"],
                  "subsystemnameFilters": ["mySubsystem"]
              },
              "type": "E2M_TYPE_UNSPECIFIED"
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"description":"avg and max the latency of catalog service","metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service catalog latency","permutationsLimit":30000,"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED"}'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_ReplaceE2M
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Events2MetricService_ReplaceE2M_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.ReplaceE2MResponse"
          description: ""
      summary: Replace an E2M
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics';

          let options = {
            method: 'PUT',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"createTime":"2022-06-30T12:30:00Z\'","description":"avg and max the latency of catalog service","id":"d6a3658e-78d2-47d0-9b81-b2c551f01b09","isInternal":true,"metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service_catalog_latency","permutations":{"hasExceededLimit":true,"limit":30000},"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED","updateTime":"2022-06-30T12:30:00Z\'"}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics"

          payload = {
              "createTime": "2022-06-30T12:30:00Z'",
              "description": "avg and max the latency of catalog service",
              "id": "d6a3658e-78d2-47d0-9b81-b2c551f01b09",
              "isInternal": True,
              "metricFields": [
                  {
                      "aggregations": [
                          {
                              "aggType": "AGG_TYPE_UNSPECIFIED",
                              "enabled": True,
                              "samples": {"sampleType": "SAMPLE_TYPE_UNSPECIFIED"},
                              "targetMetricName": "alias_field_name_agg_func"
                          }
                      ],
                      "sourceField": "log_obj.numeric_field",
                      "targetBaseMetricName": "alias_field_name"
                  }
              ],
              "metricLabels": [
                  {
                      "sourceField": "log_obj.string_value",
                      "targetLabel": "alias_label_name"
                  }
              ],
              "name": "Service_catalog_latency",
              "permutations": {
                  "hasExceededLimit": True,
                  "limit": 30000
              },
              "spansQuery": {
                  "actionFilters": ["myAction"],
                  "applicationnameFilters": ["myApp"],
                  "lucene": "applicationName:myApp",
                  "serviceFilters": ["myService"],
                  "subsystemnameFilters": ["mySubsystem"]
              },
              "type": "E2M_TYPE_UNSPECIFIED",
              "updateTime": "2022-06-30T12:30:00Z'"
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PUT", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PUT \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"createTime":"2022-06-30T12:30:00Z'\''","description":"avg and max the latency of catalog service","id":"d6a3658e-78d2-47d0-9b81-b2c551f01b09","isInternal":true,"metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service_catalog_latency","permutations":{"hasExceededLimit":true,"limit":30000},"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED","updateTime":"2022-06-30T12:30:00Z'\''"}'
  /api/v2/events2metrics/atomic_batch_execute:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_AtomicBatchExecuteE2M
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Events2MetricService_AtomicBatchExecuteE2M_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.AtomicBatchExecuteE2MResponse"
          description: ""
      summary: Atomic Batch Execute E2M
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/atomic_batch_execute';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"requests":[{"create":{"e2m":{"description":"avg and max the latency of catalog service","metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service catalog latency","permutationsLimit":30000,"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED"}}}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/atomic_batch_execute"

          payload = {"requests": [{"create": {"e2m": {
                              "description": "avg and max the latency of catalog service",
                              "metricFields": [
                                  {
                                      "aggregations": [
                                          {
                                              "aggType": "AGG_TYPE_UNSPECIFIED",
                                              "enabled": True,
                                              "samples": {"sampleType": "SAMPLE_TYPE_UNSPECIFIED"},
                                              "targetMetricName": "alias_field_name_agg_func"
                                          }
                                      ],
                                      "sourceField": "log_obj.numeric_field",
                                      "targetBaseMetricName": "alias_field_name"
                                  }
                              ],
                              "metricLabels": [
                                  {
                                      "sourceField": "log_obj.string_value",
                                      "targetLabel": "alias_label_name"
                                  }
                              ],
                              "name": "Service catalog latency",
                              "permutationsLimit": 30000,
                              "spansQuery": {
                                  "actionFilters": ["myAction"],
                                  "applicationnameFilters": ["myApp"],
                                  "lucene": "applicationName:myApp",
                                  "serviceFilters": ["myService"],
                                  "subsystemnameFilters": ["mySubsystem"]
                              },
                              "type": "E2M_TYPE_UNSPECIFIED"
                          }}}]}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/atomic_batch_execute \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"requests":[{"create":{"e2m":{"description":"avg and max the latency of catalog service","metricFields":[{"aggregations":[{"aggType":"AGG_TYPE_UNSPECIFIED","enabled":true,"samples":{"sampleType":"SAMPLE_TYPE_UNSPECIFIED"},"targetMetricName":"alias_field_name_agg_func"}],"sourceField":"log_obj.numeric_field","targetBaseMetricName":"alias_field_name"}],"metricLabels":[{"sourceField":"log_obj.string_value","targetLabel":"alias_label_name"}],"name":"Service catalog latency","permutationsLimit":30000,"spansQuery":{"actionFilters":["myAction"],"applicationnameFilters":["myApp"],"lucene":"applicationName:myApp","serviceFilters":["myService"],"subsystemnameFilters":["mySubsystem"]},"type":"E2M_TYPE_UNSPECIFIED"}}}]}'
  /api/v2/events2metrics/labels_cardinality:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_ListLabelsCardinality
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.ListLabelsCardinalityResponse"
          description: ""
      summary: List E2M Labels Cardinality
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/labels_cardinality';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/labels_cardinality"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/labels_cardinality \
            --header 'Authorization: Bearer <API_KEY>'
  /api/v2/events2metrics/limits:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_GetLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.GetLimitsResponse"
          description: ""
      summary: Get E2M Limits
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/limits';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/limits"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/limits \
            --header 'Authorization: Bearer <API_KEY>'
  /api/v2/events2metrics/{id}:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_DeleteE2M
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: d6a3658e-78d2-47d0-9b81-b2c551f01b09
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.DeleteE2MResponse"
          description: ""
      summary: Delete an E2M
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09 \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: Events2MetricService_GetE2M
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: d6a3658e-78d2-47d0-9b81-b2c551f01b09
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.events2metrics.v2.GetE2MResponse"
          description: ""
      summary: Get an E2M
      tags:
      - Events2Metrics Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/api/v2/events2metrics/d6a3658e-78d2-47d0-9b81-b2c551f01b09 \
            --header 'Authorization: Bearer <API_KEY>'
  /enrichments:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_RemoveEnrichments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.RemoveEnrichmentsResponse"
          description: ""
      summary: Delete Enrichments
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/enrichments \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetEnrichments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.GetEnrichmentsResponse"
          description: ""
      summary: Get Enrichments
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/enrichments \
            --header 'Authorization: Bearer <API_KEY>'
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_AddEnrichments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enrichments_Creation_Request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.AddEnrichmentsResponse"
          description: ""
      summary: Add Enrichments
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"requestEnrichments":[{"enrichedFieldName":"string","enrichmentType":{"geoIp":{"withAsn":true}},"fieldName":"sourceIPs","selectedColumns":["string"]}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments"

          payload = {"requestEnrichments": [
                  {
                      "enrichedFieldName": "string",
                      "enrichmentType": {"geoIp": {"withAsn": True}},
                      "fieldName": "sourceIPs",
                      "selectedColumns": ["string"]
                  }
              ]}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/enrichments \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"requestEnrichments":[{"enrichedFieldName":"string","enrichmentType":{"geoIp":{"withAsn":true}},"fieldName":"sourceIPs","selectedColumns":["string"]}]}'
  /enrichments/limit:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetEnrichmentLimit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.GetEnrichmentLimitResponse"
          description: ""
      summary: Get Enrichment Limit
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments/limit';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments/limit"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/enrichments/limit \
            --header 'Authorization: Bearer <API_KEY>'
  /enrichments/settings:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetCompanyEnrichmentSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.GetCompanyEnrichmentSettingsResponse"
          description: ""
      summary: Get Company Enrichment Settings
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments/settings';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments/settings"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/enrichments/settings \
            --header 'Authorization: Bearer <API_KEY>'
  /enrichments:atomicOverwrite:
    patch:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_AtomicOverwriteEnrichments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrichmentService_AtomicOverwriteEnrichments_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.enrichment.v1.AtomicOverwriteEnrichmentsResponse"
          description: ""
      summary: Atomic Overwrite Enrichments
      tags:
      - Enrichments Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/enrichments:atomicOverwrite';

          let options = {
            method: 'PATCH',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"enrichmentFields":[{"enrichedFieldName":"string","fieldName":"string","selectedColumns":["string"]}],"enrichmentType":{"geoIp":{"withAsn":true}},"requestEnrichments":[{"enrichedFieldName":"string","enrichmentType":{"geoIp":{"withAsn":true}},"fieldName":"sourceIPs","selectedColumns":["string"]}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/enrichments:atomicOverwrite"

          payload = {
              "enrichmentFields": [
                  {
                      "enrichedFieldName": "string",
                      "fieldName": "string",
                      "selectedColumns": ["string"]
                  }
              ],
              "enrichmentType": {"geoIp": {"withAsn": True}},
              "requestEnrichments": [
                  {
                      "enrichedFieldName": "string",
                      "enrichmentType": {"geoIp": {"withAsn": True}},
                      "fieldName": "sourceIPs",
                      "selectedColumns": ["string"]
                  }
              ]
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PATCH", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PATCH \
            --url https://api.coralogix.com/mgmt/openapi/enrichments:atomicOverwrite \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"enrichmentFields":[{"enrichedFieldName":"string","fieldName":"string","selectedColumns":["string"]}],"enrichmentType":{"geoIp":{"withAsn":true}},"requestEnrichments":[{"enrichedFieldName":"string","enrichmentType":{"geoIp":{"withAsn":true}},"fieldName":"sourceIPs","selectedColumns":["string"]}]}'
  /metrics-tco:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: MetricsTcoService_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.metrics.metrics_tco.GetResponse"
          description: ""
      summary: Get
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/metrics-tco';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/metrics-tco"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/metrics-tco \
            --header 'Authorization: Bearer <API_KEY>'
  /metrics-tco/add:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: MetricsTcoService_Add
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsTcoService_Add_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ""
      summary: Add
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/metrics-tco/add';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"label":"string","regex":"string"}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/metrics-tco/add"

          payload = {
              "label": "string",
              "regex": "string"
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/metrics-tco/add \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"label":"string","regex":"string"}'
  /metrics-tco/delete:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: MetricsTcoService_Delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsTcoService_Delete_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ""
      summary: Delete
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/metrics-tco/delete';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"ruleId":"string"}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/metrics-tco/delete"

          payload = {"ruleId": "string"}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/metrics-tco/delete \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"ruleId":"string"}'
  /v1/alert-scheduler-rules:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_CreateAlertSchedulerRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Create_alert_scheduler_rule_request_data_structure"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.CreateAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Create an alert scheduler rule
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules"

          payload = {"alertSchedulerRule": {
                  "createdAt": "string",
                  "description": "string",
                  "enabled": True,
                  "filter": {
                      "alertMetaLabels": {"value": [
                              {
                                  "id": "string",
                                  "key": "string",
                                  "value": "string"
                              }
                          ]},
                      "whatExpression": "string"
                  },
                  "id": "string",
                  "metaLabels": [
                      {
                          "id": "string",
                          "key": "string",
                          "value": "string"
                      }
                  ],
                  "name": "string",
                  "schedule": {
                      "oneTime": {"timeframe": {
                              "endTime": "string",
                              "startTime": "string",
                              "timezone": "string"
                          }},
                      "scheduleOperation": "SCHEDULE_OPERATION_UNSPECIFIED"
                  },
                  "uniqueIdentifier": "string",
                  "updatedAt": "string"
              }}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_UpdateAlertSchedulerRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Update_alert_scheduler_rule_request_data_structure"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.UpdateAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Update an alert scheduler rule
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules';

          let options = {
            method: 'PUT',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules"

          payload = {"alertSchedulerRule": {
                  "createdAt": "string",
                  "description": "string",
                  "enabled": True,
                  "filter": {
                      "alertMetaLabels": {"value": [
                              {
                                  "id": "string",
                                  "key": "string",
                                  "value": "string"
                              }
                          ]},
                      "whatExpression": "string"
                  },
                  "id": "string",
                  "metaLabels": [
                      {
                          "id": "string",
                          "key": "string",
                          "value": "string"
                      }
                  ],
                  "name": "string",
                  "schedule": {
                      "oneTime": {"timeframe": {
                              "endTime": "string",
                              "startTime": "string",
                              "timezone": "string"
                          }},
                      "scheduleOperation": "SCHEDULE_OPERATION_UNSPECIFIED"
                  },
                  "uniqueIdentifier": "string",
                  "updatedAt": "string"
              }}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PUT", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PUT \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}'
  /v1/alert-scheduler-rules/bulk:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_GetBulkAlertSchedulerRule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.GetBulkAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Get multiple alert scheduler rules
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk \
            --header 'Authorization: Bearer <API_KEY>'
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_CreateBulkAlertSchedulerRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Create_bulk_alert_scheduler_rule_request_data_structure"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.CreateBulkAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Create multiple alert scheduler rules
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"createAlertSchedulerRuleRequests":[{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk"

          payload = {"createAlertSchedulerRuleRequests": [{"alertSchedulerRule": {
                          "createdAt": "string",
                          "description": "string",
                          "enabled": True,
                          "filter": {
                              "alertMetaLabels": {"value": [
                                      {
                                          "id": "string",
                                          "key": "string",
                                          "value": "string"
                                      }
                                  ]},
                              "whatExpression": "string"
                          },
                          "id": "string",
                          "metaLabels": [
                              {
                                  "id": "string",
                                  "key": "string",
                                  "value": "string"
                              }
                          ],
                          "name": "string",
                          "schedule": {
                              "oneTime": {"timeframe": {
                                      "endTime": "string",
                                      "startTime": "string",
                                      "timezone": "string"
                                  }},
                              "scheduleOperation": "SCHEDULE_OPERATION_UNSPECIFIED"
                          },
                          "uniqueIdentifier": "string",
                          "updatedAt": "string"
                      }}]}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"createAlertSchedulerRuleRequests":[{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}]}'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_UpdateBulkAlertSchedulerRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Update_bulk_alert_scheduler_rule_request_data_structure"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.UpdateBulkAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Update multiple alert scheduler rules
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk';

          let options = {
            method: 'PUT',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"updateAlertSchedulerRuleRequests":[{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk"

          payload = {"updateAlertSchedulerRuleRequests": [{"alertSchedulerRule": {
                          "createdAt": "string",
                          "description": "string",
                          "enabled": True,
                          "filter": {
                              "alertMetaLabels": {"value": [
                                      {
                                          "id": "string",
                                          "key": "string",
                                          "value": "string"
                                      }
                                  ]},
                              "whatExpression": "string"
                          },
                          "id": "string",
                          "metaLabels": [
                              {
                                  "id": "string",
                                  "key": "string",
                                  "value": "string"
                              }
                          ],
                          "name": "string",
                          "schedule": {
                              "oneTime": {"timeframe": {
                                      "endTime": "string",
                                      "startTime": "string",
                                      "timezone": "string"
                                  }},
                              "scheduleOperation": "SCHEDULE_OPERATION_UNSPECIFIED"
                          },
                          "uniqueIdentifier": "string",
                          "updatedAt": "string"
                      }}]}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PUT", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PUT \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/bulk \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"updateAlertSchedulerRuleRequests":[{"alertSchedulerRule":{"createdAt":"string","description":"string","enabled":true,"filter":{"alertMetaLabels":{"value":[{"id":"string","key":"string","value":"string"}]},"whatExpression":"string"},"id":"string","metaLabels":[{"id":"string","key":"string","value":"string"}],"name":"string","schedule":{"oneTime":{"timeframe":{"endTime":"string","startTime":"string","timezone":"string"}},"scheduleOperation":"SCHEDULE_OPERATION_UNSPECIFIED"},"uniqueIdentifier":"string","updatedAt":"string"}}]}'
  /v1/alert-scheduler-rules/{alert_scheduler_rule_id}:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_DeleteAlertSchedulerRule
      parameters:
      - explode: false
        in: path
        name: alert_scheduler_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.DeleteAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Delete an alert scheduler rule
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: AlertSchedulerRuleService_GetAlertSchedulerRule
      parameters:
      - explode: false
        in: path
        name: alert_scheduler_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.alerting.alert_scheduler_rule_protobuf.v1.GetAlertSchedulerRuleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Get an alert scheduler rule
      tags:
      - Alert Scheduler Rule service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/v1/alert-scheduler-rules/%7Balert_scheduler_rule_id%7D \
            --header 'Authorization: Bearer <API_KEY>'
  /v1/company/settings/ip-access:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_DeleteCompanyIpAccessSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.aaa.v1.DeleteCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Delete Company IP Access Settings
      tags:
      - IP Access Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access';

          let options = {method: 'DELETE', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("DELETE", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request DELETE \
            --url https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access \
            --header 'Authorization: Bearer <API_KEY>'
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_GetCompanyIpAccessSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.aaa.v1.GetCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Get Company IP Access Settings
      tags:
      - IP Access Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access';

          let options = {method: 'GET', headers: {Authorization: 'Bearer <API_KEY>'}};

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access"

          headers = {"Authorization": "Bearer <API_KEY>"}

          response = requests.request("GET", url, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request GET \
            --url https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access \
            --header 'Authorization: Bearer <API_KEY>'
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_CreateCompanyIpAccessSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpAccessService_CreateCompanyIpAccessSettings_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.aaa.v1.CreateCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Create Company IP Access Settings
      tags:
      - IP Access Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"enableCoralogixCustomerSupportAccess":"CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED","ipAccess":[{"enabled":true,"ipRange":"192.168.0.1/24","name":"Office Network"}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access"

          payload = {
              "enableCoralogixCustomerSupportAccess": "CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED",
              "ipAccess": [
                  {
                      "enabled": True,
                      "ipRange": "192.168.0.1/24",
                      "name": "Office Network"
                  }
              ]
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"enableCoralogixCustomerSupportAccess":"CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED","ipAccess":[{"enabled":true,"ipRange":"192.168.0.1/24","name":"Office Network"}]}'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_ReplaceCompanyIpAccessSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpAccessService_ReplaceCompanyIpAccessSettings_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogixapis.aaa.v1.ReplaceCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Replace Company IP Access Settings
      tags:
      - IP Access Service
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access';

          let options = {
            method: 'PUT',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"enableCoralogixCustomerSupportAccess":"CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED","id":405,"ipAccess":[{"enabled":true,"ipRange":"192.168.0.1/24","name":"Office Network"}]}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access"

          payload = {
              "enableCoralogixCustomerSupportAccess": "CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED",
              "id": 405,
              "ipAccess": [
                  {
                      "enabled": True,
                      "ipRange": "192.168.0.1/24",
                      "name": "Office Network"
                  }
              ]
          }
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("PUT", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request PUT \
            --url https://api.coralogix.com/mgmt/openapi/v1/company/settings/ip-access \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"enableCoralogixCustomerSupportAccess":"CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED","id":405,"ipAccess":[{"enabled":true,"ipRange":"192.168.0.1/24","name":"Office Network"}]}'
  /v1/contextual-data/integration:
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: ContextualDataIntegrationService_SaveContextualDataIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Save_contextual_data_integration_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/.com.coralogix.integrations.v1.SaveContextualDataIntegrationResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Save contextual data integration
      tags:
      - Contextual data integration service
      x-coralogixPermissions:
      - contextual-data:UpdateConfig
      x-codeSamples:
      - lang: Node
        source: |-
          const fetch = require('node-fetch');

          let url = 'https://api.coralogix.com/mgmt/openapi/v1/contextual-data/integration';

          let options = {
            method: 'POST',
            headers: {Authorization: 'Bearer <API_KEY>', 'content-type': 'application/json'},
            body: '{"metadata":{"integrationKey":"string","integrationParameters":{"parameters":[{"key":"string","stringValue":"string"}]},"version":"string"}}'
          };

          fetch(url, options)
            .then(res => res.json())
            .then(json => console.log(json))
            .catch(err => console.error('error:' + err));
      - lang: Python
        source: |-
          import requests

          url = "https://api.coralogix.com/mgmt/openapi/v1/contextual-data/integration"

          payload = {"metadata": {
                  "integrationKey": "string",
                  "integrationParameters": {"parameters": [
                          {
                              "key": "string",
                              "stringValue": "string"
                          }
                      ]},
                  "version": "string"
              }}
          headers = {
              "Authorization": "Bearer <API_KEY>",
              "content-type": "application/json"
          }

          response = requests.request("POST", url, json=payload, headers=headers)

          print(response.text)
      - lang: Shell
        source: |-
          curl --request POST \
            --url https://api.coralogix.com/mgmt/openapi/v1/contextual-data/integration \
            --header 'Authorization: Bearer <API_KEY>' \
            --header 'content-type: application/json' \
            --data '{"metadata":{"integrationKey":"string","integrationParameters":{"parameters":[{"key":"string","stringValue":"string"}]},"version":"string"}}'
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: ContextualDataIntegrationService_UpdateContextualDataIntegration
      requestBody:
        content:
[...]
