openapi: 3.0.0
info:
  title: ""
  version: 1.0.0
servers:
- url: /
paths:
  /enrichment-rules/enrichment-rules/v1:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_RemoveEnrichments
      parameters:
      - explode: true
        in: query
        name: enrichment_ids
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveEnrichmentsResponse"
          description: ""
      summary: Delete Enrichments
      tags:
      - Enrichments Service
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetEnrichments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEnrichmentsResponse"
          description: ""
      summary: Get Enrichments
      tags:
      - Enrichments Service
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_AddEnrichments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enrichments_Creation_Request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddEnrichmentsResponse"
          description: ""
      summary: Add Enrichments
      tags:
      - Enrichments Service
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_AtomicOverwriteEnrichments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrichmentService_AtomicOverwriteEnrichments_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AtomicOverwriteEnrichmentsResponse"
          description: ""
      summary: Atomic Overwrite Enrichments
      tags:
      - Enrichments Service
  /enrichment-rules/enrichment-rules/v1/limit:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetEnrichmentLimit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEnrichmentLimitResponse"
          description: ""
      summary: Get Enrichment Limit
      tags:
      - Enrichments Service
  /enrichment-rules/enrichment-rules/v1/settings:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: EnrichmentService_GetCompanyEnrichmentSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCompanyEnrichmentSettingsResponse"
          description: ""
      summary: Get Company Enrichment Settings
      tags:
      - Enrichments Service
components:
  schemas:
    AddEnrichmentsResponse:
      description: Response data structure for enrichments creation
      example:
        enrichments:
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        enrichments:
          items:
            $ref: "#/components/schemas/Enrichment"
          type: array
      required:
      - enrichments
      title: Encrichments Creation Response
      type: object
    AtomicOverwriteEnrichmentsResponse:
      example:
        enrichments:
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
      properties:
        enrichments:
          items:
            $ref: "#/components/schemas/Enrichment"
          type: array
      type: object
    AwsType:
      properties:
        resourceType:
          example: ec2
          type: string
      type: object
    ColorsByAggregation:
      additionalProperties: false
      properties:
        aggregation:
          $ref: "#/components/schemas/ColorsByAggregation"
      type: object
    ColorsByGroupBy:
      additionalProperties: false
      properties:
        groupBy:
          $ref: "#/components/schemas/ColorsByGroupBy"
      type: object
    ColorsByStack:
      additionalProperties: false
      properties:
        stack:
          $ref: "#/components/schemas/ColorsByStack"
      type: object
    CompanyEnrichmentSettings:
      example:
        rowLimit: 5
        sizeLimitBytes: ""
        enrichmentsInUse: 6
        queryOnlyRowLimit: 1
        enrichmentAmountLimit: 0
        queryOnlySizeLimitBytes: ""
      properties:
        enrichmentAmountLimit:
          format: int64
          type: integer
        enrichmentsInUse:
          format: int64
          type: integer
        queryOnlyRowLimit:
          format: int64
          type: integer
        queryOnlySizeLimitBytes:
          example: ""
          format: int64
          type: string
        rowLimit:
          format: int64
          type: integer
        sizeLimitBytes:
          example: ""
          format: int64
          type: string
      type: object
    CustomEnrichmentType:
      properties:
        id:
          example: 1
          format: int64
          type: integer
      type: object
    Enrichment:
      description: This data structure represents an enrichment
      example:
        enrichmentType:
          suspiciousIp: "{}"
        selectedColumns:
        - city
        - population
        fieldName: "1"
        enrichedFieldName: "1"
        id: 1
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        enrichedFieldName:
          example: "1"
          type: string
        enrichmentType:
          $ref: "#/components/schemas/EnrichmentType"
        fieldName:
          example: "1"
          type: string
        id:
          example: 1
          format: int64
          type: integer
        selectedColumns:
          example:
          - city
          - population
          items:
            type: string
          type: array
      required:
      - enrichmentType
      - fieldName
      - id
      title: Enrichment
      type: object
    EnrichmentFieldDefinition:
      properties:
        enrichedFieldName:
          type: string
        fieldName:
          type: string
        selectedColumns:
          items:
            type: string
          type: array
      type: object
    EnrichmentRequestModel:
      description: The enrichment request model
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        enrichedFieldName:
          type: string
        enrichmentType:
          $ref: "#/components/schemas/EnrichmentType"
        fieldName:
          example: sourceIPs
          type: string
        selectedColumns:
          items:
            type: string
          type: array
      required:
      - enrichmentType
      - fieldName
      title: Enrichment Prototype
      type: object
    EnrichmentType:
      oneOf:
      - $ref: "#/components/schemas/EnrichmentTypeSuspiciousIp"
      - $ref: "#/components/schemas/EnrichmentTypeAws"
      - $ref: "#/components/schemas/EnrichmentTypeCustomEnrichment"
      - $ref: "#/components/schemas/EnrichmentTypeGeoIp"
    EnrichmentTypeAws:
      additionalProperties: false
      properties:
        aws:
          $ref: "#/components/schemas/AwsType"
      type: object
    EnrichmentTypeCustomEnrichment:
      additionalProperties: false
      properties:
        customEnrichment:
          $ref: "#/components/schemas/CustomEnrichmentType"
      type: object
    EnrichmentTypeGeoIp:
      additionalProperties: false
      properties:
        geoIp:
          $ref: "#/components/schemas/GeoIpType"
      type: object
    EnrichmentTypeSuspiciousIp:
      additionalProperties: false
      example:
        suspiciousIp: "{}"
      properties:
        suspiciousIp:
          type: object
      type: object
    FieldGroup:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    FilterPathAndValues:
      oneOf:
      - $ref: "#/components/schemas/FilterPathAndValuesMultipleValues"
      - $ref: "#/components/schemas/FilterPathAndValuesFilters"
    FilterPathAndValuesFilters:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        filters:
          $ref: "#/components/schemas/Filters"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    FilterPathAndValuesMultipleValues:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        multipleValues:
          $ref: "#/components/schemas/MultipleValues"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    Filters:
      description: This data structure represents a filter
      externalDocs:
        url: ""
      properties:
        operator:
          $ref: "#/components/schemas/v3.FilterOperator"
        pathAndValues:
          items:
            $ref: "#/components/schemas/FilterPathAndValues"
          type: array
      required:
      - pathAndValues
      title: Filters
      type: object
    GeoIpType:
      properties:
        withAsn:
          type: boolean
      type: object
    GetCompanyEnrichmentSettingsResponse:
      example:
        enrichmentSettings:
          rowLimit: 5
          sizeLimitBytes: ""
          enrichmentsInUse: 6
          queryOnlyRowLimit: 1
          enrichmentAmountLimit: 0
          queryOnlySizeLimitBytes: ""
      properties:
        enrichmentSettings:
          $ref: "#/components/schemas/CompanyEnrichmentSettings"
      type: object
    GetEnrichmentLimitResponse:
      description: This response data structure represents the enrichments limit
      example:
        limit: 10
        used: 5
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        limit:
          example: 10
          format: int64
          type: integer
        used:
          example: 5
          format: int64
          type: integer
      required:
      - limit
      - used
      title: Enrichment Limit
      type: object
    GetEnrichmentsResponse:
      description: This response data structure represents a collection of enrichments
      example:
        enrichments:
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        enrichments:
          items:
            $ref: "#/components/schemas/Enrichment"
          type: array
      required:
      - enrichments
      title: Enrichment Collection
      type: object
    MinMaxAuto:
      additionalProperties: false
      description: "Definition of min/max value configuration, can be automatically\
        \ derived from data or custom"
      externalDocs:
        url: ""
      properties:
        auto:
          $ref: "#/components/schemas/MinMaxAuto"
      title: Min-Max
      type: object
    MinMaxCustom:
      additionalProperties: false
      description: "Definition of min/max value configuration, can be automatically\
        \ derived from data or custom"
      externalDocs:
        url: ""
      properties:
        custom:
          $ref: "#/components/schemas/MinMaxCustom"
      title: Min-Max
      type: object
    MultipleValues:
      properties:
        matcher:
          $ref: "#/components/schemas/events.v3.FilterMatcher"
        values:
          items:
            type: string
          type: array
      type: object
    RemoveEnrichmentsResponse:
      description: Response data structure for enrichments deletion
      example:
        remainingEnrichments:
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
        - enrichmentType:
            suspiciousIp: "{}"
          selectedColumns:
          - city
          - population
          fieldName: "1"
          enrichedFieldName: "1"
          id: 1
      externalDocs:
        description: Find out more about enrichments
        url: https://coralogix.com/docs/user-guides/data-transformation/enrichments/custom-enrichment/
      properties:
        remainingEnrichments:
          items:
            $ref: "#/components/schemas/Enrichment"
          type: array
      title: Encrichments Delettion Response
      type: object
    SuspiciousIpType:
      type: object
    common.Group:
      properties:
        field:
          $ref: "#/components/schemas/FieldGroup"
        groups:
          items:
            $ref: "#/components/schemas/common.Group"
          type: array
        value:
          format: double
          type: number
      type: object
    events.v3.FilterMatcher:
      enum:
      - FILTER_MATCHER_TEXT_OR_UNSPECIFIED
      - FILTER_MATCHER_REGEXP
      type: string
    v3.FilterOperator:
      enum:
      - FILTER_OPERATOR_AND_OR_UNSPECIFIED
      - FILTER_OPERATOR_OR
      type: string
    EnrichmentService_AtomicOverwriteEnrichments_request:
      additionalProperties: false
      properties:
        enrichmentFields:
          items:
            $ref: "#/components/schemas/EnrichmentFieldDefinition"
          type: array
        enrichmentType:
          $ref: "#/components/schemas/EnrichmentType"
        requestEnrichments:
          items:
            $ref: "#/components/schemas/EnrichmentRequestModel"
          type: array
      type: object
    Enrichments_Creation_Request:
      additionalProperties: false
      description: This response data structure represents a collection of enrichments
      properties:
        requestEnrichments:
          items:
            $ref: "#/components/schemas/EnrichmentRequestModel"
          type: array
      required:
      - requestEnrichments
      title: Enrichments Creation Request
      type: object
  securitySchemes:
    apiKeyAuth:
      description: API key authentication
      in: header
      name: Authorization
      type: apiKey
