/*


No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package data_usage_query_service

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// DataUsageQueryServiceAPIService DataUsageQueryServiceAPI service
type DataUsageQueryServiceAPIService service

type ApiDataUsageQueryServiceDataUsageRequest struct {
	ctx                                   context.Context
	ApiService                            *DataUsageQueryServiceAPIService
	dataUsageQueryServiceDataUsageRequest *DataUsageQueryServiceDataUsageRequest
}

func (r ApiDataUsageQueryServiceDataUsageRequest) DataUsageQueryServiceDataUsageRequest(dataUsageQueryServiceDataUsageRequest DataUsageQueryServiceDataUsageRequest) ApiDataUsageQueryServiceDataUsageRequest {
	r.dataUsageQueryServiceDataUsageRequest = &dataUsageQueryServiceDataUsageRequest
	return r
}

func (r ApiDataUsageQueryServiceDataUsageRequest) Execute() (*DataUsageResponse, *http.Response, error) {
	return r.ApiService.DataUsageQueryServiceDataUsageExecute(r)
}

/*
DataUsageQueryServiceDataUsage Query data usage

Returns billable data usage aggregated into daily or hourly buckets. Supports filtering and grouping by labels listed by the capabilities endpoint.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDataUsageQueryServiceDataUsageRequest
*/
func (a *DataUsageQueryServiceAPIService) DataUsageQueryServiceDataUsage(ctx context.Context) ApiDataUsageQueryServiceDataUsageRequest {
	return ApiDataUsageQueryServiceDataUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DataUsageResponse
func (a *DataUsageQueryServiceAPIService) DataUsageQueryServiceDataUsageExecute(r ApiDataUsageQueryServiceDataUsageRequest) (*DataUsageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DataUsageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataUsageQueryServiceAPIService.DataUsageQueryServiceDataUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataplan/data-usage/v1/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataUsageQueryServiceDataUsageRequest == nil {
		return localVarReturnValue, nil, reportError("dataUsageQueryServiceDataUsageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dataUsageQueryServiceDataUsageRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest struct {
	ctx        context.Context
	ApiService *DataUsageQueryServiceAPIService
}

func (r ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest) Execute() (*GetDataUsageCapabilitiesResponse, *http.Response, error) {
	return r.ApiService.DataUsageQueryServiceGetDataUsageCapabilitiesExecute(r)
}

/*
DataUsageQueryServiceGetDataUsageCapabilities Get data usage capabilities

Returns the labels, measurement kinds, units, and per-request limits supported by the public data-usage API in v1, so clients can validate queries before submitting them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest
*/
func (a *DataUsageQueryServiceAPIService) DataUsageQueryServiceGetDataUsageCapabilities(ctx context.Context) ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest {
	return ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetDataUsageCapabilitiesResponse
func (a *DataUsageQueryServiceAPIService) DataUsageQueryServiceGetDataUsageCapabilitiesExecute(r ApiDataUsageQueryServiceGetDataUsageCapabilitiesRequest) (*GetDataUsageCapabilitiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetDataUsageCapabilitiesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataUsageQueryServiceAPIService.DataUsageQueryServiceGetDataUsageCapabilities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataplan/data-usage/v1/capabilities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
