openapi: 3.0.0
info:
  title: ""
  version: 1.0.0
servers:
- url: /
paths:
  /aaa/team-roles/v1/custom-roles:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_ListCustomRoles
      parameters:
      - explode: true
        in: query
        name: team_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomRolesResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: List Custom Roles
      tags:
      - Role Management Service
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_CreateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleManagementService_CreateRole_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRoleResponse"
          description: ""
        "201":
          content:
            application/json: {}
          description: Role created
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "409":
          content:
            application/json: {}
          description: Role already exists
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Create Role
      tags:
      - Role Management Service
  /aaa/team-roles/v1/custom-roles/{role_id}:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_DeleteRole
      parameters:
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRoleResponse"
          description: ""
        "204":
          content:
            application/json: {}
          description: Role deleted
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "404":
          content:
            application/json: {}
          description: Role not found
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Delete Role
      tags:
      - Role Management Service
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_GetCustomRole
      parameters:
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomRoleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "404":
          content:
            application/json: {}
          description: Role not found
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Get Custom Role
      tags:
      - Role Management Service
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_UpdateRole
      parameters:
      - explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleManagementService_UpdateRole_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRoleResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "404":
          content:
            application/json: {}
          description: Role not found
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Update Role
      tags:
      - Role Management Service
  /aaa/team-roles/v1/system-roles:
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: RoleManagementService_ListSystemRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSystemRolesResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad Request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: List System Roles
      tags:
      - Role Management Service
components:
  schemas:
    ColorsByAggregation:
      additionalProperties: false
      properties:
        aggregation:
          $ref: "#/components/schemas/ColorsByAggregation"
      type: object
    ColorsByGroupBy:
      additionalProperties: false
      properties:
        groupBy:
          $ref: "#/components/schemas/ColorsByGroupBy"
      type: object
    ColorsByStack:
      additionalProperties: false
      properties:
        stack:
          $ref: "#/components/schemas/ColorsByStack"
      type: object
    CreateRoleRequestParentRoleId:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          type: string
        parentRoleId:
          format: int64
          type: integer
        permissions:
          items:
            type: string
          type: array
        teamId:
          format: int64
          type: integer
      type: object
    CreateRoleRequestParentRoleName:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          type: string
        parentRoleName:
          type: string
        permissions:
          items:
            type: string
          type: array
        teamId:
          format: int64
          type: integer
      type: object
    CreateRoleResponse:
      example:
        id: 0
      properties:
        id:
          format: int64
          type: integer
      type: object
    DeleteRoleResponse:
      type: object
    FieldGroup:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    FilterPathAndValues:
      oneOf:
      - $ref: "#/components/schemas/FilterPathAndValuesMultipleValues"
      - $ref: "#/components/schemas/FilterPathAndValuesFilters"
    FilterPathAndValuesFilters:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        filters:
          $ref: "#/components/schemas/Filters"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    FilterPathAndValuesMultipleValues:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        multipleValues:
          $ref: "#/components/schemas/MultipleValues"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    Filters:
      description: This data structure represents a filter
      externalDocs:
        url: ""
      properties:
        operator:
          $ref: "#/components/schemas/v3.FilterOperator"
        pathAndValues:
          items:
            $ref: "#/components/schemas/FilterPathAndValues"
          type: array
      required:
      - pathAndValues
      title: Filters
      type: object
    GetCustomRoleResponse:
      example:
        role:
          parentRoleName: parentRoleName
          permissions:
          - permissions
          - permissions
          roleId: 6
          teamId: 1
          name: name
          description: description
          parentRoleId: 0
      properties:
        role:
          $ref: "#/components/schemas/v2.CustomRole"
      type: object
    ListCustomRolesResponse:
      example:
        roles:
        - parentRoleName: parentRoleName
          permissions:
          - permissions
          - permissions
          roleId: 6
          teamId: 1
          name: name
          description: description
          parentRoleId: 0
        - parentRoleName: parentRoleName
          permissions:
          - permissions
          - permissions
          roleId: 6
          teamId: 1
          name: name
          description: description
          parentRoleId: 0
      properties:
        roles:
          items:
            $ref: "#/components/schemas/v2.CustomRole"
          type: array
      type: object
    ListSystemRolesResponse:
      example:
        roles:
        - permissions:
          - permissions
          - permissions
          roleId: 0
          name: name
          description: description
        - permissions:
          - permissions
          - permissions
          roleId: 0
          name: name
          description: description
      properties:
        roles:
          items:
            $ref: "#/components/schemas/v2.SystemRole"
          type: array
      type: object
    MinMaxAuto:
      additionalProperties: false
      description: "Definition of min/max value configuration, can be automatically\
        \ derived from data or custom"
      externalDocs:
        url: ""
      properties:
        auto:
          $ref: "#/components/schemas/MinMaxAuto"
      title: Min-Max
      type: object
    MinMaxCustom:
      additionalProperties: false
      description: "Definition of min/max value configuration, can be automatically\
        \ derived from data or custom"
      externalDocs:
        url: ""
      properties:
        custom:
          $ref: "#/components/schemas/MinMaxCustom"
      title: Min-Max
      type: object
    MultipleValues:
      properties:
        matcher:
          $ref: "#/components/schemas/events.v3.FilterMatcher"
        values:
          items:
            type: string
          type: array
      type: object
    UpdateRoleResponse:
      type: object
    common.Group:
      properties:
        field:
          $ref: "#/components/schemas/FieldGroup"
        groups:
          items:
            $ref: "#/components/schemas/common.Group"
          type: array
        value:
          format: double
          type: number
      type: object
    events.v3.FilterMatcher:
      enum:
      - FILTER_MATCHER_TEXT_OR_UNSPECIFIED
      - FILTER_MATCHER_REGEXP
      type: string
    v2.CustomRole:
      example:
        parentRoleName: parentRoleName
        permissions:
        - permissions
        - permissions
        roleId: 6
        teamId: 1
        name: name
        description: description
        parentRoleId: 0
      properties:
        description:
          type: string
        name:
          type: string
        parentRoleId:
          format: int64
          type: integer
        parentRoleName:
          type: string
        permissions:
          items:
            type: string
          type: array
        roleId:
          format: int64
          type: integer
        teamId:
          format: int64
          type: integer
      type: object
    v2.Permissions:
      properties:
        permissions:
          items:
            type: string
          type: array
      type: object
    v2.SystemRole:
      example:
        permissions:
        - permissions
        - permissions
        roleId: 0
        name: name
        description: description
      properties:
        description:
          type: string
        name:
          type: string
        permissions:
          items:
            type: string
          type: array
        roleId:
          format: int64
          type: integer
      type: object
    v3.FilterOperator:
      enum:
      - FILTER_OPERATOR_AND_OR_UNSPECIFIED
      - FILTER_OPERATOR_OR
      type: string
    RoleManagementService_CreateRole_request:
      oneOf:
      - $ref: "#/components/schemas/CreateRoleRequestParentRoleName"
      - $ref: "#/components/schemas/CreateRoleRequestParentRoleId"
      type: object
    RoleManagementService_UpdateRole_request:
      additionalProperties: false
      properties:
        newDescription:
          type: string
        newName:
          type: string
        newPermissions:
          $ref: "#/components/schemas/v2.Permissions"
      type: object
  securitySchemes:
    apiKeyAuth:
      description: API key authentication
      in: header
      name: Authorization
      type: apiKey
