openapi: 3.0.0
info:
  title: ""
  version: 1.0.0
servers:
- url: /
paths:
  /aaa/team-sec-ip-access/v1:
    delete:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_DeleteCompanyIpAccessSettings
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          example: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Delete company IP access settings
      tags:
      - IP access service
    get:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_GetCompanyIpAccessSettings
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          description: "The ID of the company IP access settings to get. If it's not\
            \ provided, the id will be derived from the authorization header."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Get company IP access settings
      tags:
      - IP access service
    post:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_CreateCompanyIpAccessSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Create_company_IP_access_settings_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Create company IP access settings
      tags:
      - IP access service
    put:
      description: No description available
      externalDocs:
        url: ""
      operationId: IpAccessService_ReplaceCompanyIpAccessSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Replace_company_IP_access_settings_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplaceCompanyIpAccessSettingsResponse"
          description: ""
        "400":
          content:
            application/json: {}
          description: Bad request
        "401":
          content:
            application/json: {}
          description: Unauthorized request
        "500":
          content:
            application/json: {}
          description: Internal server error
      summary: Replace company IP access settings
      tags:
      - IP access service
components:
  schemas:
    ColorsByAggregation:
      additionalProperties: false
      properties:
        aggregation:
          $ref: "#/components/schemas/ColorsByAggregation"
      type: object
    ColorsByGroupBy:
      additionalProperties: false
      properties:
        groupBy:
          $ref: "#/components/schemas/ColorsByGroupBy"
      type: object
    ColorsByStack:
      additionalProperties: false
      properties:
        stack:
          $ref: "#/components/schemas/ColorsByStack"
      type: object
    CompanyIpAccessSettings:
      description: This data structure represents the IP access settings for a company.
      example:
        enableCoralogixCustomerSupportAccess: CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED
        ipAccess: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
        id: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
      externalDocs:
        url: ""
      properties:
        enableCoralogixCustomerSupportAccess:
          $ref: "#/components/schemas/CoralogixCustomerSupportAccess"
        id:
          description: The unique identifier for the company IP access settings. This
            is typically a company ID.
          example: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          type: string
        ipAccess:
          additionalProperties:
            $ref: "#/components/schemas/IpAccess"
          description: The list of IP access entries.
          example: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          type: object
      title: Company IP access settings
      type: object
    CoralogixCustomerSupportAccess:
      enum:
      - CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED
      - CORALOGIX_CUSTOMER_SUPPORT_ACCESS_DISABLED
      - CORALOGIX_CUSTOMER_SUPPORT_ACCESS_ENABLED
      type: string
    CreateCompanyIpAccessSettingsResponse:
      description: This data structure represents the response to create company IP
        access settings.
      example:
        settings:
          enableCoralogixCustomerSupportAccess: CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED
          ipAccess: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          id: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
      externalDocs:
        url: ""
      properties:
        settings:
          $ref: "#/components/schemas/CompanyIpAccessSettings"
      title: Create company IP access settings response
      type: object
    DeleteCompanyIpAccessSettingsResponse:
      description: This data structure represents the response to delete company IP
        access settings.
      externalDocs:
        url: ""
      title: Delete company IP access settings response
      type: object
    FieldGroup:
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    FilterPathAndValues:
      oneOf:
      - $ref: "#/components/schemas/FilterPathAndValuesMultipleValues"
      - $ref: "#/components/schemas/FilterPathAndValuesFilters"
    FilterPathAndValuesFilters:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        filters:
          $ref: "#/components/schemas/Filters"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    FilterPathAndValuesMultipleValues:
      additionalProperties: false
      description: This data structure represents a filter path and values
      externalDocs:
        url: ""
      properties:
        multipleValues:
          $ref: "#/components/schemas/MultipleValues"
        path:
          example: test
          type: string
      required:
      - path
      - values
      title: FilterPathAndValues
      type: object
    Filters:
      description: This data structure represents a filter
      externalDocs:
        url: ""
      properties:
        operator:
          $ref: "#/components/schemas/v3.FilterOperator"
        pathAndValues:
          items:
            $ref: "#/components/schemas/FilterPathAndValues"
          type: array
      required:
      - pathAndValues
      title: Filters
      type: object
    GetCompanyIpAccessSettingsResponse:
      description: This data structure represents the response to get company IP access
        settings.
      example:
        settings:
          enableCoralogixCustomerSupportAccess: CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED
          ipAccess: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          id: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
      externalDocs:
        url: ""
      properties:
        settings:
          $ref: "#/components/schemas/CompanyIpAccessSettings"
      title: Get company IP access settings response
      type: object
    IpAccess:
      description: Represents a single IP access entry.
      externalDocs:
        description: Find out more about IP access control in our documentation
        url: https://coralogix.com/docs/user-guides/account-management/account-settings/ip-access-control/
      properties:
        enabled:
          description: Whether this IP access entry is enabled.
          example: true
          type: boolean
        ipRange:
          description: The IP range in CIDR notation.
          example: 192.168.0.1/24
          type: string
        name:
          description: The name of the IP access entry.
          example: Office Network
          type: string
      title: IP Access
      type: object
    MultipleValues:
      properties:
        matcher:
          $ref: "#/components/schemas/events.v3.FilterMatcher"
        values:
          items:
            type: string
          type: array
      type: object
    ReplaceCompanyIpAccessSettingsResponse:
      description: This data structure represents the response to replace company
        IP access settings.
      example:
        settings:
          enableCoralogixCustomerSupportAccess: CORALOGIX_CUSTOMER_SUPPORT_ACCESS_UNSPECIFIED
          ipAccess: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          id: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
      externalDocs:
        url: ""
      properties:
        settings:
          $ref: "#/components/schemas/CompanyIpAccessSettings"
      title: Replace company IP access settings response
      type: object
    common.Group:
      properties:
        field:
          $ref: "#/components/schemas/FieldGroup"
        groups:
          items:
            $ref: "#/components/schemas/common.Group"
          type: array
        value:
          format: double
          type: number
      type: object
    events.v3.FilterMatcher:
      enum:
      - FILTER_MATCHER_TEXT_OR_UNSPECIFIED
      - FILTER_MATCHER_REGEXP
      type: string
    v3.FilterOperator:
      enum:
      - FILTER_OPERATOR_AND_OR_UNSPECIFIED
      - FILTER_OPERATOR_OR
      type: string
    Replace_company_IP_access_settings_request:
      additionalProperties: false
      description: This data structure represents the request to replace company IP
        access settings.
      properties:
        enableCoralogixCustomerSupportAccess:
          $ref: "#/components/schemas/CoralogixCustomerSupportAccess"
        id:
          example: d662a2f1-21c3-493c-8f8a-595d3ab05ef3
          type: string
        ipAccess:
          items:
            $ref: "#/components/schemas/IpAccess"
          type: array
      title: Replace company IP access settings request
      type: object
    Create_company_IP_access_settings_request:
      additionalProperties: false
      description: This data structure represents the request to create company IP
        access settings.
      properties:
        enableCoralogixCustomerSupportAccess:
          $ref: "#/components/schemas/CoralogixCustomerSupportAccess"
        ipAccess:
          items:
            $ref: "#/components/schemas/IpAccess"
          type: array
      title: Create company IP access settings request
      type: object
  securitySchemes:
    apiKeyAuth:
      description: API key authentication
      in: header
      name: Authorization
      type: apiKey
