name: "[Go SDK] Code Check"
permissions:
  contents: read

env:
  PROTOC_VERSION: "33.x"

on:
  workflow_dispatch:  
  pull_request:
    branches: [ master ]
    paths:
      - 'go/**'
      - 'proto/**'
      - '.github/workflows/**'

jobs:
  format_test_linux:
    name: "[Go SDK - Linux] Format, Lint, Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - uses: arduino/setup-protoc@v3
        with:
          version: ${{env.PROTOC_VERSION}}
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.GRPC_GATEWAY_DEPLOY_KEY }}
      - name: Check formatting and build
        run: | 
          go mod tidy
          go install google.golang.org/protobuf/cmd/protoc-gen-go
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          gofmt -l .
          make build
        env:
          GOPRIVATE: ${{ secrets.GOPRIVATE }}
      - uses: golangci/golangci-lint-action@v2
        with:
          working-directory: go
          skip-go-installation: true
  run_examples:
    name: "[Go SDK - Linux] Run Examples"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - uses: arduino/setup-protoc@v3
        with:
          version: ${{env.PROTOC_VERSION}}
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.GRPC_GATEWAY_DEPLOY_KEY }}
      - name: Run Examples
        env:
          AWS_TEST_ROLE: ${{ secrets.AWS_TEST_ROLE }}
          CORALOGIX_TEAM_API_KEY: ${{ secrets.CORALOGIX_TEAM_API_KEY }}
          CORALOGIX_USER_API_KEY: ${{ secrets.CORALOGIX_USER_API_KEY }}
          CORALOGIX_REGION: ${{ secrets.CORALOGIX_REGION }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          METRICS_BUCKET: ${{ secrets.METRICS_BUCKET }}
          LOGS_BUCKET: ${{ secrets.LOGS_BUCKET }}
          GOPRIVATE: ${{ secrets.GOPRIVATE }}
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          make test
  run_openapi_examples:
    name: "[Go SDK - Linux] Run OpenAPI Examples"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - uses: arduino/setup-protoc@v3
        with:
          version: ${{env.PROTOC_VERSION}}
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.GRPC_GATEWAY_DEPLOY_KEY }}
      - name: Run OpenAPI Examples
        env:
          AWS_TEST_ROLE: ${{ secrets.AWS_TEST_ROLE }}
          CORALOGIX_API_KEY: ${{ secrets.CORALOGIX_TEAM_API_KEY }}
          CORALOGIX_REGION: ${{ secrets.CORALOGIX_REGION }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          METRICS_BUCKET: ${{ secrets.METRICS_BUCKET }}
          LOGS_BUCKET: ${{ secrets.LOGS_BUCKET }}
          GOPRIVATE: ${{ secrets.GOPRIVATE }}
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          make test-openapi
          make test-openapi-ro 
