name: Generate OpenAPI Clients

on:
  workflow_dispatch:
    inputs:
      specDownloadUrl:
        description: 'URL to get the OpenAPI.yaml'
        required: false
  pull_request:
    paths:
      - 'openapi.yaml'

permissions:
  contents: write
  pull-requests: write

jobs:
  generate-openapi:
    name: Split & Generate Clients
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: curl
        uses: sozo-design/curl@v1.0.2
        with:
          args: ${{ inputs.specDownloadUrl }} -o openapi.yaml
        if: ${{ inputs.specDownloadUrl }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Node.js (for redocly CLI)
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Redocly CLI
        run: |
          npm install -g @redocly/cli@latest
          npm install -g @openapitools/openapi-generator-cli
          openapi-generator-cli version

      - name: Run OpenAPI Split Tool
        run: |
          rm -Rf specs
          chmod +x ./tools/openapi-split/split_specs.sh
          ./tools/openapi-split/split_specs.sh

      - name: Generate Go Client
        run: |
          chmod +x ./go/scripts/generate_openapi.sh
          ./go/scripts/generate_openapi.sh

      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          author_name: "github-actions[bot]"
          author_email: "github-actions[bot]@users.noreply.github.com"
          message: "chore: update split specs and generated Go OpenAPI client"