name: "[Protobuf] Lint & Build Facade"


# token for buf to annotate the PR
permissions:
  contents: read
  pull-requests: write


on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]
    paths:
      - 'proto/**'
      - '.github/workflows/**'

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  PROTOC_VERSION: "33.x"

jobs:
    protobuf_lint_and_build:
        name: "[Protobuf] Lint & Build Facade"
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: bufbuild/buf-action@v1
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }} 
        - uses: actions/setup-go@v5
        - uses: arduino/setup-protoc@v3
          with:
            version: ${{env.PROTOC_VERSION}}
        - name: Install dependencies
          run: | 
            go install google.golang.org/protobuf/cmd/protoc-gen-go
            go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest    
            go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@latest
            go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@latest
        - name: Run OpenAPI facade build
          run: | 
            bash tools/build_facade_files.sh
